.weather-app {
  border: 0.8px solid #e0e9f3;
  max-width: 600px;
  padding: 15px 15px 35px 15px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(
    179.1deg,
    rgb(247, 238, 238) -1.9%,
    rgb(247, 202, 201) 44.9%,
    rgb(145, 168, 208) 96.1%
  );
}

.weather-temperature .units {
  position: relative;
  font-size: 17px;
  bottom: 73px;
  left: 321px;
  font-weight: 600;
}

h1 {
  color: black;
  margin: 0 auto;
  text-align: center;
}
h2 {
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #5e5e77;
  text-align: center;
}

footer {
  text-align: center;
}

canvas {
  margin: 0 auto;
  display: block;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

#temperature {
  font-size: 70px;
}

#temp-description {
  font-size: 20px;
}

#temp-caracteristics {
  font-size: 17px;
}

#city {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color: #4c4d7a;
  font-weight: bold;
  margin: 0 0 0 70px;
}

#date {
  font-size: 18px;
  color: #4c4d7a;
  position: relative;
  left: 70px;
}

#search-form {
  display: block;
  margin: 20px 0 0 70px;
}

#currentLocationButton {
  color: white;
  background-color: #4547c4;
}
#humidity {
  line-height: 1cm;
}
#code {
  display: block;
  margin-right: 310px;
  text-align: center;
}
